body{
    color: #cba6f7;
    background-color: #1e1e2e;
    margin: 40px auto;
    line-height: 1.6em;
    font-size: 18px;
    padding: 0;
    width: calc(100vw - 80px);
}

input[type="text"], textarea {
    background-color: #cba6f7;
    color: #313244;
}
