<html>
<head>
    <title>{{ book.title }}</title>
    <link href="{{ url_for('static', path='/bmfw.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/buttons.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
</head>
<body>
    <h1>{{ book.title }}</h1>
    <h2>by {{book.author}}
    <br />
    {% if book.shelf != "" %}
    <a href="/locate/{{ book.uuid }}"><button class="button-3" style="width: 100%;margin-top:50px;">Locate</button></a>
    <a href="/withdraw/{{ book.uuid }}"><button class="button-3" style="width: 100%;margin-top:10px;">Withdraw</button></a>
    {% endif %}
    {% if book.shelf == "" %}
    <a href="/shelve/{{ book.uuid }}"><button class="button-3" style="width: 100%;margin-top:10px;">Shelve</button></a>
    {% endif %}
    <a href="/edit/{{ book.uuid }}"><button class="button-3" style="width: 100%;margin-top:10px;">Edit</button></a>
</body>
</html>
