<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
        <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="info-modal-label"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="modal-last-borrowed"></p>
                        <p id="modal-position"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-se condary mr-aut o" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="info-modal-withdraw-shelve-btn" onclick=function() {}; data-dismiss="modal">Withdraw</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="update-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="update-modal-label"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/update" method="post">
                            <input type="text" id="update-isbn" name="isbn" value="{{ select_book.isbn }}" hidden>
                            <input type="text" id="update-title" name="title" value="{{ select_book.title }}" hidden>
                            <input type="text" id="update-subtitle" name="subtitle" value="{{ select_book.subtitle }}" hidden>
                            <input type="text" id="update-author" name="author" value="{{ select_book.author }}" hidden>
                            <input type="number" id="update-pages" name="pages" value="{{ select_book.pages }}" hidden>
                            <input type="number" id="update-width" name="width" value="{{ select_book.width}}" hidden>

                            <select id="update-room" name="room" onchange="sendData()">
                                {% for room in rooms %}
                                    <option value="{{ room.value }}" {% if select_book.room == room.value %}selected{% endif %}>{{ room.name }}</option>
                                {% endfor %}
                            </select>
                            <br />

                            <select style="margin-top: 15px;" id="update-shelf" name="shelf" onchange="sendData({{ select_book.isbn }})">
                                {% for shelf in shelves %}
                                    <option value="{{ shelf }}" {% if select_book.shelf == shelf %}selected{% endif %}>{{ shelf }}</option>
                                {% endfor %}
                            </select>
                            <br />
                            <input type="number" id="update-position" name="position" value="{{ select_book.position }}" hidden>
                            <input type="text" id="update-withdrawn" name="withdrawn" value="shelved" hidden>
                            <input type="text" id="update-time" name="time" value="{{ time }}" hidden>
                            <input style="margin-top: 15px; "class="button-3" role="button" type="submit" value="Shelve">
                        </form>
                        <p>Shelve next to <span id="neighbour">{{ neighbour }}</span></p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="update-modal" onclick=function() {}; data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <input id="search" type="text" onkeydown="sendValue()" autocomplete="off">

        <table id="books">
            <tbody id="booksBody">
                {% for book in books %}
                    <tr onclick='updateInfoModal({{ book["json"] | tojson() }})' id="{{ book.isbn }}-tr">
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td id="{{ book.isbn }}-withdrawn">{{ book.withdrawn }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            function updateInfoModal(book) {
                console.log(book);
                document.getElementById("info-modal-label").textContent = book["title"];
                if (book["withdrawn"] == "") {
                    document.getElementById("modal-last-borrowed").textContent =
                        "Book never borrowed.";
                } else {
                    var withdrawn = "Last borrowed " + book["withdrawn"] + ".";
                    document.getElementById("modal-last-borrowed").textContent = withdrawn;
                }
                if (book["position"] != -1) {
                    if (book["natlang_position"] == "") {
                        var position =
                            "Shelved on shelf " +
                        book["shelf_name"] +
                        " at position " +
                        book["position"] +
                        ".";
                    } else {
                        var position =
                            "Shelved on shelf " +
                        book["shelf_name"] +
                        " about " +
                        book["natlang_position"] +
                        " in from the left.";
                    }
                    document.getElementById("modal-position").textContent = position;
                }

                if (book.withdrawn == "") {
                    document.getElementById("info-modal-withdraw-shelve-btn").onclick = async () => {
                        const response = await fetch("/withdraw", {
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify({ isbn: book["isbn"], user_name: "{{ user }}" }),
                        });

                        await response.json();
                        document.reload();
                    };
                } else {
                    document.getElementById("info-modal-withdraw-shelve-btn").textContent = "Shelve";
                    document.getElementById("info-modal-withdraw-shelve-btn").onClick = async () => {
                        const response = await fetch("/shelve", {
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify({ isbn: book["isbn"] }),
                        });

                        await response.json();
                        $("#update-title").setAttribute("hidden");
                        $("#update-subtitle").setAttribute("hidden");
                        $("#update-author").setAttribute("hidden");
                        $("#update-pages").setAttribute("hidden");
                        $("#update-isbn").setAttribute("hidden");
                        $("#update-room").removeAttribute("hidden");
                        $("#update-shelf").removeAttribute("hidden");
                        $("#update-position").setAttribute("hidden");
                        const shelve_socket = new WebSocket("{{ ws_address }}");
                        $("#update-shelf").onchange = sendData(book.isbn);
                        $("#update-modal").modal("show");
                    };
                }
                $("#info-modal").modal("show");
            }

            function shelveOptions() {

                shelve_socket.onmessage = function(event) {
                    const shelves = document.getElementById("update-shelf");
                    const newchildren = [];
                    let data = JSON.parse(event.data);
                    data["shelves"].forEach(function(shelf) {
                        const option = document.createElement("option");
                        option.value = shelf
                        option.text = shelf
                        if (shelf == data["shelf"]) {
                            option.selected = true;
                        }
                        newchildren.push(option);
                    });
                    console.log(newchildren)
                    shelves.replaceChildren(...newchildren);
                    document.getElementById("update-neighbour").innerText = data.neighbour;
                };
            };
            function sendData(isbn) {
                const room = document.getElementById("room");
                const shelves = document.getElementById("shelf");
                socket.send(JSON.stringify({"room": room.value, "shelf": shelves.value, "isbn": isbn}));
            }
            socket.onmessage = function(event) {
                const tab = document.getElementById("booksBody");
                const newchildren = [];
                JSON.parse(event.data).forEach(function(book) {
                    const tr = document.createElement("tr");
                    tr.onclick = function() {
                        window.location = '/book/' + book[0];
                    };

                    const titleTd = document.createElement("td");
                    titleTd.textContent = book[1];
                    tr.appendChild(titleTd);

                    const authorTd = document.createElement("td");
                    authorTd.textContent = book[2];
                    tr.appendChild(authorTd);

                    newchildren.push(tr);
                });
                tab.replaceChildren(...newchildren);
            };

            function sendValue() {
                const input = document.getElementById("search");
                search_socket.send(input.value);
            }

            let search_socket = new WebSocket("{{ ws_address }}");
            while (!search_socket.readyState === WebSocket.OPEN) {

            }

        </script>
    </body>
</html>
