<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="infoModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="modal-last-borrowed"></p>
                        <p id="modal-position"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="infoModal" onclick=function() {}; data-dismiss="modal">Withdraw</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/update" method="post">
                            <input type="text" id="isbn" name="isbn" value="{{ book.isbn }}" hidden>
                            <p>
                                Title: <input type="text" id="title" name="title" value="{{ book.title }}">
                            </p>
                            <p>
                                Subtitle: <input type="text" id="subtitle" name="subtitle" value="{{ book.subtitle }}">
                            </p>
                            <p>
                                Author: <input type="text" id="author" name="author" value="{{ book.author }}">
                            </p>
                            <p>
                                Pages: <input type="number" id="pages" name="pages" onchange="calcWidth()" value="{{ book.pages }}">
                            </p>
                            <p>
                                Width: <input type="number" id="width" name="width" value="{{ book.width}}">mm
                            </p>
                            <p>
                                Room: <select id="room" name="room">
                                    {% for room in rooms%}
                                        <option value="{{room}}">{{room}}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <input type="number" id="shelf" name="shelf" value="{{ book.shelf }}" hidden>
                            <input type="number" id="position" name="position" value="{{ book.position }}" hidden>
                            <input type="number" id="withdrawn" name="withdrawn" value="{{ book.withdrawn }}" hidden>
                            <input class="button-3" role="button" type="submit" value="{% if book.shelf == -2 %}Shelve{% else %}Submit{% endif %}">
                        </form>
                        <p id="modal-last-borrowed"></p>
                        <p id="modal-position"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="editModal" onclick=function() {}; data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <input id="search" type="text" onkeydown="sendValue()" autocomplete="off">

        <table id="books">
            <tbody id="booksBody">
                {% for book in books %}
                    <tr onclick='updateModal({{ book["json"] | tojson() }})'>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td id="{{ book.isbn }}-withdrawn">{{ book.withdrawn }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            function updateModal(book) {
                console.log(book)
                document.getElementById("infoModalLabel").textContent=book['title'];
                if (book['withdrawn'] == "") {
                    document.getElementById("modal-last-borrowed").textContent="Book never borrowed.";
                } else {
                    var withdrawn = "Last borrowed " + book['withdrawn'] + "."
                    document.getElementById("modal-last-borrowed").textContent=withdrawn;
                }
                if (book['shelf'] != -1) {
                    if (book["natlang_position"] == "") {
                        var position = "Shelved on shelf " + book['shelf_name'] + " at position " + book['position'] + '.';
                    } else {
                        var position = "Shelved on shelf " + book['shelf_name'] + " about " + book['natlang_position'] + " in from the left."
                    }
                    document.getElementById("modal-position").textContent=position
                }

                if (book.withdrawn == "") {
                    document.getElementById("infoModal").onclick = async() => {
                        const response = await fetch('/withdraw', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({'isbn': book['isbn'], 'user_name': "{{ user }}"}),
                        });

                        withdrawn_text = await response.json();
                        document.getElementById(book['isbn'] + '-withdrawn').textContent = withdrawn_text;
                    };
                } else {
                    document.getElementById("infoModal").textContent="Shelve";
                }

                $("#infoModal").modal('show');
            };

            console.log({{select_book["json"] | tojson() }});
            {% if select_book != "" %}
                updateModal({{ select_book["json"] | tojson() }});
            {% endif %}

            let socket = new WebSocket("{{ ws_address }}");
            while (!socket.readyState === WebSocket.OPEN) {

            }

            socket.onmessage = function(event) {
                const tab = document.getElementById("booksBody");
                const newchildren = [];
                JSON.parse(event.data).forEach(function(book) {
                    const tr = document.createElement("tr");
                    tr.onclick = function() {
                        window.location = '/book/' + book[0];
                    };

                    const titleTd = document.createElement("td");
                    titleTd.textContent = book[1];
                    tr.appendChild(titleTd);

                    const authorTd = document.createElement("td");
                    authorTd.textContent = book[2];
                    tr.appendChild(authorTd);

                    newchildren.push(tr);
                });
                tab.replaceChildren(...newchildren);
            };

            function sendValue() {
                const input = document.getElementById("search");
                socket.send(input.value);
            }
        </script>
    </body>
</html>
