<html>
    <head>
        <title>Validate Data</title>
        <link href="{{ url_for('static', path='/bmfw.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/buttons.css') }}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >

        <script>
            function calcWidth() {
                var page_count = document.getElementById("pages").value;
                var width = Math.round(page_count*{{ mm_per_page }});
                document.getElementById("width").value = width;
            }
        </script>
    </head>
    <body>
        <h1>Validate Data</h1>
        <form action="/update" method="post">
            <input type="text" id="uuid" name="uuid" value="{{ book.uuid }}" hidden>
            <input type="text" id="isbn" name="isbn" value="{{ book.isbn }}" hidden>
            <p>
                Title: <input type="text" id="title" name="title" value="{{ book.title }}">
            </p>
            <p>
                Subtitle: <input type="text" id="subtitle" name="subtitle" value="{{ book.subtitle }}">
            </p>
            <p>
                Author: <input type="text" id="author" name="author" value="{{ book.author }}">
            </p>
            <p>
                Pages: <input type="number" id="pages" name="pages" onchange="calcWidth()" value="{{ book.pages }}">
            </p>
            <p>
                Width: <input type="number" id="width" name="width" value="{{ book.width}}">mm
            </p>
            <p>
                Room: <select id="room" name="room">
                    {% for room in rooms%}
                    <option value="{{room}}">{{room}}</option>
                    {% endfor %}
                </select>
            </p>
            <input type="number" id="shelf" name="shelf" value="{{ book.shelf }}" hidden>
            <input type="number" id="position" name="position" value="{{ book.position }}" hidden>
            <input type="number" id="withdrawn" name="withdrawn" value="{{ book.withdrawn }}" hidden>
            <input class="button-3" role="button" type="submit" value="{% if book.shelf == -2 %}Shelve{% else %}Submit{% endif %}">
        </form>
    </body>
</html>
